/* Header Section */

header {
  position: fixed;
  background-color: black;
  width: 100%;
  color: white;
}

/* Main Banner Section */

.main_banner {
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  height: 25rem;
  /*padding-top:*/
}

h1 {
  color: blue;
}
